.conteudo-principal{
   background-color: #f7f7f7;
   color: #000000;
   height: 500px;
}

.perfil{
   margin: 4% auto;
   width: 90%;
   padding: 3% 0;
}

.perfil .container{
   display: flex;
   justify-content: space-evenly;
   align-items: flex-start;
}

.img-perfil{
   width: 35%;
   border-radius: 5px;
   border: 2px solid #dda947;
}

.conteudo-perfil{
   width: 45%;
   font-family: 'poppins',sans-serif;
}

.nome-perfil{
   font-size: 42px;
   font-weight: 600;
   margin-bottom: 4%;
}

.texto-perfil{
   line-height: 1.6em;
   font-size: 16px;
   font-weight: 500;
   text-align: justify;
   color: #3d3d3d;
}

.bt-adote{
   width: 55%;
   height: 35px;
   margin: 5% 20%;
   border: none;
   border-radius: 6px;
   background-color: #f9a826;
   color: #ffffff;
   font-family: 'poppins',sans-serif;
   font-weight: 500;
   font-size: 16px;}

.bt-adote:hover{
   cursor: pointer;
   background-color: #f8b64b;
   transition: 450ms;
}

.lista-perfil{
   margin: 3% auto 0;
   list-style: disc;
   font-size: 15px;
   color: #535353;
   column-count: 2;
   column-gap: 0px;
   width: 55%;
   line-height: 1.3;
}

.lista-perfil li::after{
   content: ';';
}
