/* ###### CABECALHO ##### */
@media (max-width:425px) {

   .container-cabecalho{
      flex-direction: column;
      width: 100%;
   }
   
   .logo{
      justify-content: space-between;
      width: 100%;
   }
   
   .menu-nav{
      width: 100%;
      margin: 5% 0;
   }
   
   .lista-menu-nav{
      display: block;
   }
   
   .lista-menu-nav li{
      width: 100%;
      text-align: center;
      margin-top: 1%;
      border-radius: 5px;
      padding: 2px;
   }
   
   
   
   
   
   
   
   
   /* ####### HOME ###### */
   .container-info{
      flex-direction: column;
      width: 100%;
   }
   
   .conteudo-texto-info{
      width: 100%;
      text-align: center;
      margin-top: 15%;
   }
   
   .animais{
      width: 100%;
   }

   .titulo-P-animais{
      margin-top: 10%;
   }
   
   .animais .container{
      justify-content: space-around;
   }
   
   .card-animais{
      margin: 1% auto 2%;
   }
   
   .ilustracao-info{
      width: 100%;
   }
   
   
   
   
   
   /* ####### FORM ADOCAO ####### */
   .titulo-P-adocao{
      margin-bottom: 10%;
   }
   
   .texto-adocao{
      width: 95%;
   }

   .titulo-form{
      margin: 5% 0;
   }
   
   .formulario{
      width: 90%;
   }
   
   
   
   
   
   
   /* ####### PERFIL ANIMAL ####### */
   .conteudo-principal{
      height: auto;
      width: 100%;
   }

   .perfil{
      width: 100%;
   }
   
   .perfil .container{
      flex-direction: column;
      align-items: center;
   }
   
   .foto-perfil{
      width: 100%;
   }

   .img-perfil{
      width: 80%;
      height: 340px;
   }

   .fa-3x{
      font-size: 2.3em;
   }
   
   .conteudo-perfil{
      width: 95%;
   }

   .nome-perfil{
      text-align: center;
   }
   
   .lista-perfil{
      columns: 1;
   }
   
   .bt-adote{
      width: 100%;
      margin: 5% auto;
   }
   
   
   
   
   
   
   /* ####### SOBRE NOS ####### */
   .titulo-P-redes-sociais{
      padding-top: 6%;
   }
   
   .texto-sobre{
      width: 100%;
   }
   
   .redes-sociais{
      height: auto;
   }
   .container-redes-sociais{
      width: 100%;
   }
   
   .texto-redes-sociais{
      width: 90%;
      text-align: justify;
   }

   .teste{
      width: 90%;
   }
}

@media (max-width:330px) {

   .img-perfil{
      width: 75%;
      height: 280px;
   }


}